<?xml version="1.0"?>

<model>
  <name>ControlIt Ground Plane</name>
  <version>1.0</version>
  <sdf version="1.4">controlit_ground_model.sdf</sdf>

  <author>
    <name>Liang Fok</name>
    <email>notavailable</email>
  </author>

  <description>
    A simple ground plane.
  </description>
</model>
